<div class="center jumbotron">
    <h1>ALPHA BLOG</h1>

  <h1 class="h2 text-center">Appointment Scheduler</h1>
<div class="text-center pt-4">
  <%= link_to 'View All Coaches', get_route(@student_id) %>
</div>